

@section Style {
    <link rel="stylesheet" href="~/css/quanlybaidang.css" />
}

@model List<NHNT_G08.Models.TaiKhoan>

<div class="main">
    <h1 class="title">Quản lý tài khoản</h1>
    <div class="grid item">

        <table>
            <tr>
                <th>STT</th>
                <th>Họ tên người dùng</th>
                <th>Số điện thoại</th>
                <th>Tên đăng nhập</th>
                <th>Vai trò</th>
                <th>Trạng thái tài khoản</th>
                <th>Tác vụ</th>
            </tr>

            @for (int i = 1; i <= Model.Count; i++)
            {
                <tr>
                    <td>@i</td>
                    <td>@Model[i - 1].hoTenNguoiDung</td>
                    <td>@Model[i - 1].soDienThoai</td>
                    <td>@Model[i - 1].tenDangNhap</td>
                    <td>@Model[i - 1].tenLoaiTK</td>
                    <td class="@Model[i - 1].maTaiKhoan status_account">@Model[i - 1].trangThai</td>
                    <td>
                        <button class="btn btn_khoa" data-id="@Model[i - 1].maTaiKhoan">Khóa tài khoản</button>
                    </td>
                </tr>

            }


        </table>

    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn_khoa').click(function () {

                var id = $(this).attr('data-id');
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("khoaTaiKhoan")",
                    data: {
                        id: id
                    },
                    success: function (result) {
                        console.log(result);
                        if (result == true) {
                            $('.'+id).html("Đã khóa");
                            alert("Đã khóa tài khoản");
                        }
                    }
                });
            });


           


           

        });
    </script>

}

